$sensor-width: 11;
$sensor-height: 7;
$grid-width: 35em;
$cell-width: $grid-width / $sensor-width;
$header-size: 2.5em;
$wrapper-height: 80%;
$cell-border-color: #666;
$thumbnail-height: 6em;

*{
  box-sizing: border-box;
}

html, body, main{
  height: 100%; 
}

main{
  width: 100%;
}

body{
  padding: 1em;
}

.sensor-tile{
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-top: 5em;
}

.tile.bordered{
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;

  h2{
    text-align: center;
    color: steelblue;
    font-size: $header-size;
    font-weight: 500;
    margin-bottom: 1em;
  }
}

.sensor-wrapper{
  height: $wrapper-height
}

.sensor-grid{
  width: $grid-width;
  display: flex;
  flex-wrap: wrap;
  box-sizing: initial;
  border: 1px solid $cell-border-color;
  transform: perspective(25em) rotateX(18deg);
  margin: 0 auto;
  background-color: white;
  position: relative;
}

.sensor-cell{
  width: $cell-width;
  height: $cell-width;
  border: 1px solid $cell-border-color;
}

.right-tile{
  .is-child{
    height: calc(50% - 10px);
    width: 100%;
    padding: 1em;
  }
}

#item-list{
  .object-thumb{
    height: $thumbnail-height;
    width: $thumbnail-height;
    background-size: cover;
    background-position: center;
    margin-right: 1em;
  }

  .media-content{
    padding-top: 1em;
  }

  .object-entry{
    margin: 0 auto;
  }
}

.weight-wrapper{
  display: flex;

  .weight-marker{
    height: 1.5em;
    width: 1.5em;
    margin-left: auto;
  }

  .weight-header{
    margin-right: 1em;
  }
}

.list-tile{
  overflow: scroll;
}

.chart-tile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-wrapper{
  height: $wrapper-height
}