$primary-color: #F44336;
$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$text-light: #FFFFFF;
$accent-color: #FFC107;
$primary-text: #212121;
$secondary-text: #727272;
$divider-color: #B6B6B6;

$header-height: 4rem;
$header-color: #ffc847;
$title-color: #41445d;
$body-color: #f8ffff;